# Novatel USB730L for Verizon Wireless
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="1410", ATTR{idProduct}=="9030", RUN+="/usr/sbin/usb_modeswitch -v 0x1410 -p 0x9030 -u 2"
